body {
    text-align: center;
    font-family: Arial;
    background: #222;
    color: white;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    margin-left: 5px;
}

li {
    margin: 10px;
    cursor: pointer;
}